* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* header related styles */
.header {
  background: rgba(229, 84, 115, 0.10);
  /* width: 1920px;
  height: 850px;
  flex-shrink: 0; */
  /* margin: 0px;
  padding: 0px; */
}

.text-primary {
  color: #e55473;
}

.button-pri {
  background-color: #e55473;
  border: 0px;
  color: #FFF;
  line-height: 24px;
  padding: 10px 30px;
  border-radius: 5px;
  font-family: Lato;
  font-size: 15px;
  font-weight: 500px;
}

/* nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.banner {
  padding: 20px 20px 0px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.first-image {
  width: 400px;
  height: 450px;
  /* flex-shrink: 0; */
  padding: 50px 200px 0px 400px;
}

.banner-heading {
  color: #272727;
  font-family: Lato;
  font-size: 65px;
  /* font-style: normal; */
  font-weight: 600;
  /* line-height: normal; */
  display: flex;
  width: 708px;
  flex-direction: column;
  /* flex-shrink: 0; */
  margin-bottom: 15px;
}

.banner-des {
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
  text-align: justify;
}

/* featured flowers section */
.section-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 800;
  margin-top: 150px;
  margin-bottom: 0px;
}

.section-des {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 10px;
}

.all-pink-trees {
  background: #FFF;
  width: 400px;
  height: 400px;
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 10px;
}

.flower-trees {
  display: flex;
  justify-content: space-evenly;
}

.pink-flower-tree1 {
  background: #FFF;
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-right: 24px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
  /* margin-bottom: 0px; */
}

.tree-no1 {
  width: 310px;
  height: 428px;
  flex-shrink: 0;
  padding: 110px 78px 0px 76px;
}

.pink-flower-tree2 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-right: 24px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.tree-no2 {
  width: 370px;
  height: 370px;
  flex-shrink: 0;
  padding: 117px 47px 51px 47px;
}

.pink-flower-tree3 {
  width: 464px;
  height: 538px;
  flex-shrink: 0;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}

.tree-no3 {
  width: 314px;
  height: 471px;
  flex-shrink: 0;
  padding: 67px 75px 0px 75px;
  padding-bottom: 0px;
}

/* .fig-cation {
  display: flex;
} */

.pink-flt {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}

.logos-des {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}

.logo-container {
  /* display: flex; */
  color: rgba(39, 39, 39, 0.80);
  /* text-align: center; */
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-sec {}

.hot-deal-sec5 {
  padding: 50px;
  display: flex;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  align-items: center;
  justify-content: center;
  gap: 215px;
  text-align: center;
}

.heading-of-hot {
  padding: 230px 962px 342px 423px;
}

.hot-del-des {
  display: flex;
  width: 594px;
  flex-direction: column;
  flex-shrink: 0;
  padding: 302px 933px 258px 395px;
}

.ig-section {}

.four-images {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.latest-deals {
  background-image: url("./Rectangle\ 9.png");
  background-position: center;
  align-items: center;
  margin-top: 80px;
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  display: flex;
  /* margin-right: 100px; */
  justify-content: center;
  flex-direction: column;
  /* padding-right: 120px; */
}

.latest-para {
  margin-top: 30px;
}

.latest {
  margin-top: 200px;
  text-align: center;
}

.input {
  padding: 30px;
  width: 700px;
  height: 64px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-bottom: 121px;
}

.footsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-pri {
  color: #ffffff;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  padding-right: 120px;
}

.footsec {
  background-color: black;
  width: 1922px;
  height: 449px;
  flex-shrink: 0;
  margin-top: 100px;
}

.footdes {
  color: #FFF;
  max-width: 500px;
  margin-top: 20px;
  padding-right: 120px;
}

.footcopy {
  color: gray;
  margin-top: 20px;
  padding-right: 120px;
}